* {
  cursor: default;
  -webkit-user-select: none;
}
*:hover {
  cursor: default;
}

html, body {
  word-wrap: break-word;
}

.titlebar {
  width: 100%;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
.titlebar * {
  -webkit-app-region: no-drag;
}